
/* Colors

logo red = #DE0015
  .brown/red = #9E000F;
  
zold = 958e38
vilagos zold / barnas = ADA542
feketes barna = 3D3A30

zold2 = 7c762f
vzold2 = 958e38

  
  menu = vilagos zold
  menu highlight = zold
  sidebar = zold
  sidebar highlight = vilagos zold
  sidebar highlight text = feketes barna
    
menu brown = #BDB294
  .color = #FFF7E1
  .menu highlight = #70674D
  .sidebar = #70674D
  .sidebar title background = #7D7457

content background = #eee3c3 // substract using 0to255.com 
  .post highlight = #f7edd0
  .post background, breadcrumb = #EADDB6
  .post border = #e7d7a9  

*/

a {
  color: #3D3A30;
}
a:visited {
  color: #9E000F;
}
a:hover {
  color: #DE0015;
}

#menu {
  background: #BDB294;
}
#menu ul li {
  border-right: 1px solid #CABE9E; 
}
#menu ul li.current-cat  {
  background: #70674D;
}
#menu ul li.current-cat a, #menu ul li.current-cat a:visited{
  color: #FFF7E1;
}
#menu ul li a, #menu ul li a:visited {
  color: #3D3A30;
}
#menu ul li a:hover, #menu ul li a:active {
  color: #FFF7E1;
}

#content {
  background: #eee3c3;
}

.breadcrumb {
  background: #f7edd0;
}  
.archive .post {
  background: #eaddb6;
  border: 1px solid #e7d7a9;
  -moz-box-shadow: 0px 0px 1px #e7d7a9;
  -khtml-box-shadow: 0px 0px 1px #e7d7a9;
  -webkit-box-shadow: 0px 0px 1px #e7d7a9;
}
.archive .post-active {
  background: #f7edd0;
  border: 1px solid #BCAE82;
  -moz-box-shadow: 0px 0px 8px #7C7356;
  -khtml-box-shadow: 0px 0px 8px #7C7356;
  -webkit-box-shadow: 0px 0px 8px #7C7356;
}
.post img, #product img {
  border: 1px solid #BCAE82;
  padding: 1.6em;
  -moz-box-shadow: 0px 0px 8px #7C7356;
  -khtml-box-shadow: 0px 0px 8px #7C7356;
  -webkit-box-shadow: 0px 0px 8px #7C7356;  
  max-width: 600px;
  height: auto;
}
.archive #posts .post img {
  max-width: 150px;
  height: auto;
}
img.noborder {
  border: none;
  padding: 0;
  -moz-box-shadow: 0px 0px 0px #7C7356;
  -khtml-box-shadow: 0px 0px 0px #7C7356;
  -webkit-box-shadow: 0px 0px 0px #7C7356;
}

.post .postmetadata {
  border-top: 1px solid #BCAE82;
  color: #7C7356;
}
.post .postmetadata a, .post .postmetadata a:visited {
  color: #7C7356;    
}
hr {
  background: #BCAE82;
  color: #BCAE82;
}
.post a, .post a:visited, .post h1 {
  text-decoration: none;
  font-family: 'Trebuchet MS', Verdana, Sans-Serif;
}

.single #thecomments, .single #thecontent, #side  {
  background: #EADDB6;
  border: 1px solid #E7D7A9;
}
.single #side .wpsc_container {
  background: #BDB294;
  border: 1px solid #CABE9E;
}
.single #side #recommended .wpsc_container {
  border: none;
  padding: 0;
  margin-bottom: 0;
  background: none;
}
.single #side ul.postmeta {
  list-style-type: none;
}
.single #side ul.postmeta li, #content.blog #side ul li {
  border-bottom: 1px solid #e7d7a9;
  color: #7C7356;
}
.single #side ul.postmeta li a, .single #side ul.postmeta li a:visited {
  color: #7C7356;
}
.single #side ul.postmeta li a:hover {
  text-decoration: underline;
}
.blog h1 small {
  background: #EADDB6;
  padding: .1em;
  font-size: .6em;
  line-height: 1.5;
}

#sidebar {
  background: #70674D;
  color: #FFF7E1;
  -moz-box-shadow: 0px 0px 4px #6B2105;
  -khtml-box-shadow: 0px 0px 4px #6B2105;
  -webkit-box-shadow: 0px 0px 4px #6B2105;    
}
.triangle {
  border-color: transparent #372F18 transparent transparent;
}
#sidebar a {
  color: #FFF7E1;
}
#sidebar li.current-cat a {
  background: #7D7457;
  padding: .2em 1em .2em .1em;    
}
#sidebar li.current-cat ul.children li a {
  background: none;
  padding: none;
}
#sidebar h3 {
  background: #7D7457;
  color: #FFF7E1;
  padding: .5em;
}



body {
  background: url(img/background.jpg);
}

.container {
  margin: 0 auto;
  width: 950px;
  overflow: visible;    
  min-height: 960px;
}





/* Header
*/

#logo img {
  margin: 1em 0;
}

#navigation .inner {
  float: right;
  margin-right: 0em;
}
#navigation #languages {
  float: right;
  margin-top: .3em;
}
#navigation #search {
  margin-top: 4em;
}
#navigation #search input {
  font-size: small;
  border: 1px solid #cdcdcd;
  padding: .3em .5em;
  width: 10.4em;
  float: right;
}
#navigation #search span {
  margin-left: .5em;
}


#menu ul {
  margin: 0;
  padding: 0;
}
#menu ul li {  
  padding-left: 0;
  padding: 1em 1.5em;
}
#menu ul li.cat-item-7 {
  padding-left: .5em;
}
#menu ul li a {
  text-decoration: none;
  font-size: larger;
}
#menu ul li.noncat {
  float: right;
  border-right: none;
  padding: 1.3em .5em 0;
}
#menu ul li.noncat.last {
  margin-right: 1em;
}
.ui-icon-person, .ui-icon-cart, .ui-icon-search {
  display: inline-block;
}
#menu a.user, #menu .cart-content, a.advanced-search {
  top: -.3em;
  position: relative;
}
#menu ul li a.user {
  font-size: small;
}




/* Content
*/

#content {
  padding-top: 2em;  
  width: 100%;
}


/* Startpage
*/

#content.startpage {
  padding: 0;
  background: transparent url(img/lovak.jpg) 0 0;
  height: 750px;
}

#content.startpage #news {
  width: 30%;
  float: right;
  text-align: right;
  margin-right: 1em;
  position: relative;
  top: 5em;
}
#content.startpage #news #item {
  background: white;  
  padding: 1em;
  margin-bottom: 2em;
   -moz-border-radius: 10px;  
  -webkit-border-radius: 10px;
  box-shadow: 0.1em .1em #BDB294;
  -moz-box-shadow: 0.1em .1em #BDB294;
  -webkit-box-shadow: 0.1em .1em #BDB294;
}
#content.startpage #news #item p.date {
  margin: 1em 0 .5em;
  font-style: italic;
  font-size: smaller;
}


#share {
  margin: 2.5em 0;
  background: #F6F6F6;
  padding: 1em;
  display: none;
}
#share #col-1 .tf-info {
  display: none;
}
#share #col-1 h4 img {
  vertical-align: bottom;
}




/* Product list 
*/

.breadcrumb {  
  padding: .8em;
  margin: 1em 0 !important;
}
.navigation {
  margin: .5em 0 !important;
}
#content.archive #shopping table {
  width: 180px;
}
.wp-paginate a {
  background: #EADDB6 !important;
  color: #666 !important;
  border: 1px solid #E7D7A9 !important;
}
.wp-paginate .current {
  background: #EEE3C3 !important;
  border: 1px solid #EEE3C3 !important;
  color: #222 !important;
}



/* Post
*/

.post {
  margin: 2em 0 5em !important;
  padding: 1em;  
}
.post img.loadingimage, #product.thumb img.loadingimage {
  padding: 0;
}
.post p.wp-caption-text {
  visibility: hidden;
}
.post .entry p, .post .excerpt {
  font-style: italic;
  margin: 3em 0 1em 0;
}
.post .postmetadata a, .post .postmetadata a:visited {
  text-decoration: none;
}
.post .postmetadata a:hover {
  text-decoration: underline;
}


/* Single
*/

#content.single .navigation {
  padding: .5em;
}
#content.single #thecomments {
  margin-top: 2em;
  padding: 1em;
}
#content.single #thecontent {
  padding: 1em;
}
#content.single #thecomments h4 {
  font-size: large;
}
#content.single #thecomments ol {
  list-style-type: none;
}
#content.single #thecomments img.avatar {
  padding: .6em;
}
#content.single #thecomments .fn {  
  margin-left: 1em;
}
#content.single #side .wpsc_container .imagecol, #content.single #side .wpsc_container #images, #content.meta #shopping #images {
  display: none;
}
#content.single #side .wpsc_container div.single_product_display div.textcol  {
  margin-left: 1em !important;
}
#content.single #side .wpsc_container table {
  width: 200px;
}
#content.single #side #recommended .wpsc_container div.single_product_display div.textcol  {
  margin-left: 0 !important;
}
#content.single #side #recommended .wpsc_container table {
  width: 66%;
}
#content.single #side #recommended #title h3 {
  margin-bottom: 0;
  padding: 0;
}
.single #side .wpsc_container, .single #side #recommended {
  margin-bottom: 2em;
  margin-right: 0;
}
.single #side ul.postmeta {
  margin: 0 0 2em 0;
}
.single #side ul.postmeta li {
  margin-bottom: 1em;
  padding-left: .7em;
}
.single #side .wpsc_container, .single #side #recommended {
  padding: 1em 0;
}
.single #side #recommended h3.title {
  margin: .5em 0 2em .5em;
  text-transform: uppercase;
}
.single #respond {
  margin-left: 1em;
}


ul.wp-polls-ul {
  margin: 0 2em;
}
ul.wp-polls-ul li {
  margin-bottom: 2em;
}
ul.wp-polls-ul li table, ul.wp-polls-ul li td, ul.wp-polls-ul li th {
  vertical-align: top;
}
ul.wp-polls-ul li table td.image {
  width: 70%;
}
ul.wp-polls-ul li table td.text {
  width: 20%;
}


ul.share li {
  margin-bottom: 1em;
  border-bottom: 1px solid #E7D7A9;
}
ul.share #fb_share_1 {
  float: left !important;
  margin-left: 0 !important;
  margin-right: 5px;
}


/* Product thumbs for Meta, Recommended, ...
*/

#content.meta h1 {
  margin-left: .3em;
  margin-bottom: 1em;
}
#content.meta hr {
  width: 80%;
  margin: 0 7.5% 5em;
  background: #E7D7A9;
  color: #E7D7A9;
}
#content.meta .navigation {
  padding: 1em;
}
#product.thumb #image, #product.thumb #title, #product.thumb #shopping {
  margin-left: 1em;
}
#product.thumb #title {
  width: 200px;
  margin-top: 1em;
}
#product.thumb #shopping {
  border: none;
}

#product.thumb table {
  width: 66%;
}



/* Blog 
*/

#content.blog .navigation {
  padding: 1em;
}
#content.blog .post {
  margin: 0 0 5em !important;
}
#content #side ul, #content #side h3 {
  padding: 1em;
}
#content #side h3.title {
  text-transform: uppercase;
}
#content #side ul {
  list-style-type: none;
}
#content #side ul li a, #content #side ul li a:visited {
  text-decoration: none;
}
#content.blog .post .entry p {
  margin: 1em;
}


/* Archives 
*/

#content.archive .navigation {
  padding: 1em !important;
}
#content.archive #posts h2, #content.archive #posts .post {
  margin-left: .5em !important;
}
#content.archive .brand-subcats {

}
#content.archive .brand-subcats .item {
  width: 22%;
  margin-right: 2%;
  float: left;
  margin-bottom: .2em;
}
#content.archive .brand-subcats .row-3 {
  margin-right: 0%;  
}
#content.archive .brand-subcats .row-0 {
  clear: both;  
}
#content.archive #images .item {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#content.archive #images .item img{
  width: 50px;
  height: 50px;
}



/* Advanced Search
*/

#content.advanced-search #col-1, #content.advanced-search #col-2 {
  margin-bottom: 2em;
}
#content.advanced-search #col-1 form, #content.advanced-search #col-2 .tags {
  padding: 1em;
}
#content.advanced-search #col-1 #right input {
  margin-top: 1em;
}
#content.advanced-search #col-1 form select {
  width: 14.5em;
}



/* Search results
*/
#content.search-results #search-results-header, #content.search-results .not-found {
  padding: .5em;
}
#content.search-results #search-results-header table tr td {
  border-bottom: 1px solid #BCAE82;
  padding-bottom: .5em;
}
.not-found #searchform {
  width: 30%;
  margin-bottom: 1em;
}
#product.thumb #shopping #images   {
  display: none;
}



/* Pages
*/

#content.page .entry {
  margin: 1em 0;
  padding: 1em;
  background: #EADDB6;
}
#content.page .page, #content.page #respond {
  padding: 1em;
}
#content.page .page ul {
  margin: 0;
}


/* Footer
*/

#footer a, #footer a:visited {
  text-decoration: none;
}
#footer #col-2 {
  text-align: right;
}


/* Sidebar 
*/


#sidebar {
  left: -2em;
  position: relative;
  margin-bottom: 3em;
  overflow: visible;
  padding: 1em;
}
.triangle {
  border-style: solid;
	border-width: 3em;
	position: relative;
	left: -248px;
	top: -72px;
	z-index: -1;	 	
}
#sidebar ul.root {
  font-size: larger;
  margin-bottom: 3em;
  margin-left: .5em;
}
#sidebar a, #sidebar a:visited {
  text-decoration: none;
}
#sidebar ul {
  list-style-type: none;
  margin: 0 0 1em 0;
}
#sidebar ul li {
  margin-bottom: 1em;
}
#sidebar ul.children li {
  margin-bottom: 0;
}
#sidebar li ul {
  margin: 0 1.5em;
}



/* WP-e-commerce overwrites 
*/


#shopping .productdisplay .textcol {
  margin-left: 0 !important;
  float: none !important;
}
#shopping .productdisplay .textcol .imagecol {
  margin-left: 0 !important;
  position: relative !important;
}
#shopping .productdisplay .textcol .producttext .product_form {
  padding: 1em 0;
}
#shopping .oldprice, .oldprice {
  color: #de0015;
}
#shopping span.pricedisplay {
  float: none !important;
  width: 100% !important;
}
#shopping input.wpsc_buy_button, #shopping input.checkout-button {
  font-size: small;
}
input.wpsc_buy_button, input.checkout-button {  
  width: 100%;
}
table td.right {
  text-align: right;
  padding: .1em 0;
  margin-right: 1em;
}
table.productcart tr.firstrow td {
  background-color: #BDB294 !important;
  color: #3D3A30 !important;
  border-right: 1px solid #CABE9E !important;
  border-left: none !important;
}
.textcol table th, .textcol table td, .textcol table caption {
  padding: 0 !important;
}



/* Shopping cart / wp-e-commerce pages
*/

table.productcart {
  margin-bottom: 1em;
}
table.productcart tr.firstrow td {
  background-color: #CABE9E !important;
  border-left: 1px dotted #eee !important;
  font-weight: bold;
}
table.productcart tr.firstrow td.firstcol {
  border-left: none;
}
table.productcart tr.product_row td {
  border-bottom: 1px solid #cac1b2;
}
table.productcart td.productname {
  width: 30%;
}
table.productcart tr.subtotal td {
  font-weight: bold;
  border-top: 1px solid #cac1b2;
}

table.productcart input.coupon {
  width: 10em;
}

table.shipping td {
  vertical-align: top;
}
table.shipping td.c3, table.shipping td.c4, table.shipping td.c5 {
  border-bottom: 1px solid #cac1b2;
}
table.shipping td.c1 {
  width: 4.5em;
}
table.shipping td.c2 {
  width: 30%;
}
table.shipping td.c3 {
  width: 29.5%;
}
table.shipping td.c4 {
  width: 14%;
}

table.total {  
  margin-bottom: 3em; 
}
table.total td h4, table.wpsc_checkout_table td h4, #checkout h4 {
  margin-bottom: 0;
}
table.total td.c1 {
  width: 4.5em;
}
table.total td.c2 {
  width: 60%;
}
table.total td.c3 {
  width: 30%;
}

.wpsc_checkout_forms #info {  
  margin: 1.5em 0 2em;  
}
.wpsc_checkout_forms #info ul {
  margin: 0 0 0 9em;
}


#checkout #form {
  width: 380px;    
}
#checkout #login {
  margin-top: 1.7em;    
}
#checkout #login button.make_purchase {
  width: 99%;  
  text-align: center;
}
#checkout #login #account {
  margin: 0;
}
#checkout #login h4 {
  margin-bottom: 1.25em;
}
#checkout #login ul.loginlist {
  list-style-type: none;
}
#checkout #login ul.info {
  margin: 0 1.5em 0;
}
#checkout #login ul.links {
  margin: 0 1.5em 1.5em;
}

table.wpsc_checkout_table textarea, table.wpsc_checkout_table input.text {
  margin: 0;
}
table.wpsc_checkout_table textarea {
  width: 97% !important;
  height: 5em;
}
table.wpsc_checkout_table input.text {
  width: 97% !important;
}


#checkout input.green {
  background: #26BF5A;
  padding: .2em 1em;
  border: 1px outset green;
  color: #eee;
  font-weight: bold;
}

.login_error {
  padding: 1em;
  margin: 1em 0 !important;
  background: #A53B08;
  color: #DFDBD0;
}
.termeni {
  background: #FFFBBA;
  padding: .5em 1em;
}


#page #subscribe #share p {
  margin-bottom: 4em;
}
#page #subscribe #feedback p {
  text-align: right;
}

#page #subscribe #share img, #page #subscribe #share .spacerx {
  width: 72px;
  height: 72px;
  float: left;
  margin-right: 1em;
}

#page #subscribe #feedback img {
  width: 72px;
  height: 72px;
  float: right;
}
#page.checkout-final .post {
  margin-bottom: 2em !important;
}
#page.checkout-final #comments {
  margin-top: 2em;
}
#page.checkout-final #partner{
  margin: 2em 0;
  padding: 2em;
  background: #DFDBD0; 
}



.entry table {
  margin-bottom: 2em;
  vertical-align: top;
}
.entry table tr.header {
  font-size: larger;
}
.entry table td {
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #e7d7a9;
  width: 33%;
}



/* Common
*/

.opacity {
  opacity: .7;
  -khtml-opacity: .7;  
  -moz-opacity: .7; 
  filter: alpha(opacity=70);
}
.hidden {
  display: none;
}
.box {
  background: #CABE9E;
}
.link {
  cursor: pointer;
}
.bold {
  font-weight: bolder;
}
.important {
  background: #FFFBBA !important;
  opacity: .9;
  -khtml-opacity: .9;  
  -moz-opacity: .9; 
  filter: alpha(opacity=90);
}
ul.inline-list {
  display: block;
}
ul.inline-list li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;
  padding-left: 4px;
  padding-right: 4px;
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  clear: both;
}

